name: build and deploy

on:
  release:
    types: [published]

jobs:
  build_and_push:
    name: Build and push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.DOCKERHUB_REPOSITORY }}:latest
          
  deploy:
    needs: build_and_push
    runs-on: ubuntu-latest
    steps:
    - name: Deploy app to server
      uses: appleboy/ssh-action@master
      with:
        username: ${{ secrets.SERVER_USERNAME }}
        host: ${{ secrets.SERVER_IP }}
        password: ${{ secrets.SSH_PASSWORD }}
        script: |
         docker stop quotebot
         docker rm quotebot
         docker pull ${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.DOCKERHUB_REPOSITORY }}
         docker image prune -f
         docker run -d --name quotebot -e ${{ secrets.DISCORD_TOKEN }} --mount type=bind,source=/root/quoteBot/quotes,target=/quotes ${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.DOCKERHUB_REPOSITORY }}
         
